.cabecera{
    /*
    Para el tamaño de la cajita
    */
    width:99%;
    /*
    Propiedades del borde
    */
    border-width: 10px; 
    border:5px solid;
    border-color:black;

    
    /*
    Para separar la cajitas
    */
    margin-bottom:10px;

}


#menu{
    width: 18%; 	 
    border:5px solid;
    border-color:cadetblue;
    background-color:floralwhite;
    border-radius:22px;
    

    padding: 5px 5px 10px 0px;
    float:left;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    
    


}
#menu2{
    width: 97%; 	 
    border:10px solid;
    border-color: aqua;
    background-color:white;
    border-radius:22px; 
    padding: 5px 5px 10px 0px;
    float:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;  
}
#menu3{
    width: 20%; 	 
    border:5px solid;
    border-color: rgb(54, 56, 77);
    background-color:rgb(240, 210, 210);
    border-radius:40px; 
    padding: 1px 2px 1px 0px;
    float:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;  
}

#contenido{
    width:78%;
    
    border-width: 5px; 
    border-style: solid;
    border-color:coral;
    background-color:white;
    padding: 5px 5px 10px 5px;
    float:left;
    
    margin-left: 10px;
}
.pie{
    /**
    Para centrar texto
    */
    text-align: center;
    /**
    Alcho de la caja
    */
    width:96%;
    /*
    Altura de la caja
    */
    height: 150px;
    /*
    Margen desde la izquierda
    */
    margin-left:15px;
    /*
    Margen de la parte superior
    */
    margin-top: 15px;
    /*
    Color del borde
    */
    border-color:chocolate;
    /*
    Tamaño del borde
    */
    border-width: 5px; 
    /*
    Estilo del borde
    */
    border-style: solid;
    /*
    Para los relllenos de un elemento
    */
    padding: 5px 5px 5px 20px;
    
    float:left;  

}
#centrarVideo{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    background-color: #69a6e5;
}


body {
    background-color: #F5F5F5;
    }
body{
    background-image: url("../imges/principal.jpg" );
    background-repeat: no-repeat;
    background-size:cover ;
}


